{% extends "FooAppsHelloBundle::layout.html.twig" %}
{% block content %}
    {% include 'FooAppsHelloBundle:Default:list.html.twig' with {'friends': friends} %}
    <hr />
    <a href="{{ path('new_friend') }}">Add a friend</a>
{% endblock %}
