<h2>Your friends</h2>
<ul class="friends">
    {% for friend in friends %}
        <li>
            {{ friend.name }}
        </li>
    {% else %}
        <li>You have no friends!</li>
    {% endfor %}
</ul>