<h2>Your friends</h2>
<ul class="friends">
    {% for friend in friends %}
        <li>
            <a href="{{ path('hello', {'name': friend.name}) }}" title="Say Hello!">
                {{ friend.name }}
            </a>
        </li>
    {% else %}
        <li>You have no friends!</li>
    {% endfor %}
</ul>